<section class="oe_container">
   <table>
       <tr>
           <td><br/>
               <img src="logo3.png" alt="www.aspenware.com"/>
           </td>
           <td width="100%" style="font-size:14px;">
               <p>This module is part of Caption Colorado's Custom Enterprise Data Management Suite.</p>

               <p>Each module is hand tailored to Captions' way of business, and inclusive of data needed to automate scheduling.</p>

               <p>Modules are installed as a set so add "Caption Colorado's Integrator" first, and it will chain install the entire suite of addons.</p>

               <p><span style="color:red;"><i><b>Caution - Uninstalling core modules is not recommended.<br/>Insure complete data backup beforehand.</b></i></span></p>
            </td>
        </tr>
       <tr>
           <td>
           </td>
           <td align="right">
            <h6>
                <i>
                    &copy; 2014 Caption Colorado, crafted by <a href="http://www.aspenware.com">Aspenware</a>
                </i>
            </h6>
           </td>
       </tr>
    </table>
</section>